@import './variables.scss';

:host {
  align-items: center;
  background-color: $app-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cripto-app {
  align-items: center;
  background-color: $withe;
  background-image: url('../../../assets/footer.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 1440px 503px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 85vw;
}

.main-frame {
  background-color: $withe;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 $black;
  height: 821px;
  width: 1239px;
}

::ng-deep .mat-tab-label {
  color: $black;
  font-size: 20px;
  line-height: 32px;
  min-height: 140px !important;
  width: 100%;
}

::ng-deep  .mat-tab-label-active {
  color: $blue;
  font-weight: bold;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  font-family: $font;
  margin-top: 55px;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $blue;
  height: 9px;
}


@media only screen and (max-width: 1024px) {
  ::ng-deep .mat-tab-group.mat-primary {
    width: 100%;;
  }

  .converter {
    height: 500px;
    padding: 40px 20px;;
  }

  .main-frame {
    height: 90%;
    width: 100%;
  }

  .coin-list {
    height: 100%;
  }
}
