$app-background: #E7F2FE;
$background-input: #EBEBEB;
$black: #4A4A4A;
$blue: #1983FE;
$box-shadow: rgba(0,0,0,0.26);
$font: 'Helvetica';
$green: #1EDA7F;
$grey-light: #EEE;
$input: #949494;
$red: #EE574E;
$withe: rgb(255, 255, 255);
