<form [formGroup]="form">
  <div class="titles">
    <h1 class="title">{{title}}</h1>
    <h2 class>{{subtitle}}</h2>
  </div>
  <div class="field coin-amount">
    <input
    formControlName="amount"
    class="input"
    type="number"
    placeholder="0,00"
    onfocus="placeholder = ''"
    onblur="this.placeholder = '0,00'">
  </div>
  <div class="field coin">
    <select class="input" formControlName="from">
      <option *ngFor="let coin of coins">{{coin}}</option>
    </select>
  </div>
  <div class="field coin">
    <select class="input" formControlName="to">
      <option *ngFor="let coin of coins">{{coin}}</option>
    </select>
  </div>
  <div class="field coin-result">
    <input class="input result" type="text" value="{{result}}">
  </div>
</form>

<img (click)="exchange()" class="exchange" src="../../../assets/exchange.png" alt="exchange">
