<div>
  <div class="titles">
    <h1 class="title">{{title}}</h1>
    <h2 class>{{subtitle}}</h2>
  </div>
  <div class="input coin-mount">
    <input class="mount-input" type="text" value="{{initialMount}}">
  </div>
  <div class="input coin">
    <div>
      <select class="selector">
      <option *ngFor="let coin of coins">{{coin}}</option>
    </select>
    </div>

  </div>
  <div class="input coin">
      <select class="selector">
        <option *ngFor="let coin of coins">{{coin}}</option>
    </select>
  </div>
  <div class="input coin-result">
    {{result}}
  </div>
</div>
<img class="exchange" src="../../../assets/exchange.png" alt="exchange">
