@import '../../variables.scss';

* {
  color: $black;
  font-family: $font;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 3px;;
}

:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 60px 160px;
}

.table-header {
  align-items: center;
  border: 1px solid $grey-light;
  box-shadow: 0 2px 4px 0 $box-shadow;
  column-gap: 75px;
  display: grid;
  grid-template-columns: repeat(4, 160px);
  height: 75px;
  margin-bottom: 17px;
  padding: 17px;
  width: 900px;
}

.convert {
  text-align: center;
}
