@import '../../variables.scss';

* {
  color: $black;
  font-family: $font;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 3px;
}

:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 660px;
  padding: 60px 160px;
}

.convert {
  text-align: center;
}

.scroll {
  height: 600px;
  overflow: auto;
}

.table-header {
  align-items: center;
  border: 1px solid $grey-light;
  box-shadow: 0 2px 4px 0 $box-shadow;
  column-gap: 75px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 75px;
  margin-bottom: 17px;
  padding: 17px;
  width: 900px;
}


@media only screen and (max-width: 1024px) {
  :host {
    padding: 20px;
  }

  .convert {
    text-align: start;
  }

  .crypto {
    text-align: center;
  }

  .table-header {
    column-gap: 65px;
    grid-template-columns: repeat(4, 1fr);
    width: 830px;
  }

  .scroll {
    height: 400px;
  }
}
