@import '../../variables.scss';

* {
  color: $black;
  font-family: $font;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 3px;
}

:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 690px;
  padding: 60px 160px;
}

.convert {
  text-align: center;
}

.table-header {
  align-items: center;
  border: 1px solid $grey-light;
  box-shadow: 0 2px 4px 0 $box-shadow;
  column-gap: 75px;
  display: grid;
  grid-template-columns: repeat(4, 160px);
  height: 75px;
  margin-bottom: 17px;
  padding: 17px;
  width: 900px;
}

.viewport {
  height: 500px;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  :host {
    height: 100%;
    padding: 20px;
  }

  .convert {
    text-align: start;
  }

  .table-header {
    column-gap: 60px;
    grid-template-columns: repeat(4, 155px);
    width: 100%;
  }

  .viewport {
    height: 400px;
    width: 100%;
  }
}
