@import 'screens/variables.scss';

:host {
  align-items: center;
  background-color: #E7F2FE;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cripto-app {
  align-items: center;
  background-color: rgb(255, 255, 255);
  background-image: url('../assets/footer.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 1440px 503px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 85vw;
}

.option {
  align-items: flex-end;
  box-shadow: 0 0 1px 0 $box-shadow;
  color: #4A4A4A;
  display: flex;
  font-family: Helvetica;
  font-size: 20px;
  justify-content: center;
  padding: 20px;
  text-align: center;;

  &:hover {
    border-bottom: 6px solid $blue;
    color: $blue;
    font-weight: bold;
  }
}

.main-frame {
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 $black;
  height: 821px;
  width: 1239px;
}

::ng-deep .mat-tab-label {
  font-size: 20px;
  min-height: 140px !important;
  width: 100%;
}

::ng-deep  .mat-tab-label-active {
  color: $blue;
  font-weight: 700;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  margin-top: 55px;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $blue;
  height: 9px;;
}
