$box-shadow: rgba(0,0,0,0.26);
$black: #4A4A4A;
$font: 'Tahoma';
$grey-light: lighten( grey, 30%);
$background: rgba(236, 236, 238, 0.349);
$green: lighten( rgb(7, 119, 25), 30%);
$blue: #1983FE;
$red: #EE574E;
